$base: #0e3839;
$complimentary: #134b4c;
$primary: #efefef;
$secondary: #165a5b;
$highlight: #999;
$bright:#34AAAC;
$red: #BC1224;
$yellow: #FFD110;
$action-bar-match:#134b4c;
$dark: #092526;
$bright-alt:#16aeb1;