$base: #2c3708;
$complimentary: #35430b;
$primary: #efefef;
$secondary: #3b4a0c;
$highlight: #999;
$bright:#a0c921;
$red: #BC1224;
$yellow: #FFD110;
$action-bar-match:#35430b;
$dark: #1d2405;
$bright-alt:#7da307;