<StackLayout>
  <GridLayout rows="auto" columns="100,*,100" class="modal-action-bar">
      <Button text="Close" (tap)="close()" row="0" col="0" class="cancel-btn"></Button>
      <Label text="Options" row="0" col="1" class="modal-label modal-title"></Label>
  </GridLayout>
  <StackLayout class="blank-page">
    <Label [text]="'ShoutOut By:'" textWrap="true" class="medium-heading"></Label>  
    <Label [text]="shoutout?.author" textWrap="true" class="big-heading"></Label>  
    <Button [text]="confirmTxt" (swipe)="swipeConfirm($event)" (tap)="remove()" class="delete-btn-wide" [ngClass]="{'delete-confirmed': deleteConfirmed}"></Button>
  </StackLayout>
</StackLayout>