<!--<ActionBar title="ShoutOuts">
  <NavigationButton text="Back" android.systemIcon="ic_menu_back" class="action-btn"></NavigationButton>
  <ActionItem (tap)="add()" ios.position="right" android.position="popup">
    <Button class="fa action-btn" [text]="'fa-plus' | fonticonPure"></Button>
  </ActionItem>
</ActionBar>-->
<StackLayout modal-dialog-host>
  <StackLayout class="full-page-message" *ngIf="(shoutouts$ | async).length==0">
    <Label [text]="'fa-frown-o' | fonticonPure" textWrap="true" class="fa full-page-icon-label"></Label>
    <Label text="There are no shoutouts yet." textWrap="true" class="full-page-message-label"></Label>
  </StackLayout>

  <RadListView id="listview" [items]="shoutouts$ | async" row="1" colSpan="2" class="full-page"
  itemSwipe="true" itemReorder="false"
  (itemSwipeProgressStarted)="onSwipeCellStarted($event)"
  (itemSwipeProgressEnded)="onSwipeCellFinished($event)" 
  itemInsertAnimation="Scale" itemDeleteAnimation="Scale"
  *ngIf="(shoutouts$ | async).length">
    <template tkListItemTemplate let-item="item" let-odd="odd" let-even="even">
      <GridLayout columns="auto, *, auto" rows="auto" [class.odd]="odd" [class.even]="even" [class.playing]="item.playing" class="list-item">
        <Button row="0" col="0" [text]="(item.playing ? 'fa-pause-circle' : 'fa-play-circle') | fonticon" class="play-btn fa" (tap)="togglePlay(item)"></Button>
        <StackLayout row="0" col="1" class="row-center">
          <Label [text]="'By: ' + item.author" textWrap="true" class="title"></Label> 
          <Label [text]="'Track: ' + item.track" textWrap="true" class="title-sub" *ngIf="item.track"></Label> 
        </StackLayout>
        <!--<Button row="0" col="2" [text]="'fa-plus-circle' | fonticonPure" class="add-btn fa" (tap)="addToTrack(item)" *ngIf="!item.track"></Button>-->
      </GridLayout>
    </template>
    <GridLayout *tkListItemSwipeTemplate rows="auto" columns="*,100" class="list-item-swipe">
      <Button id="deleteBtn" text="Delete" class="btn delete-btn" row="0" col="1" (tap)="remove($event)"></Button>
    </GridLayout>
  </RadListView>
</StackLayout>