@import 'variables.scss';
$lightpurple: #7C3FE8;

.slides {
  width:100%;
  height: 100%;
  background-color: $lightpurple;
}

.msg-area {
  width: 100%;
  height: 100%;
}

.mask-cover {
  top:0;
  left:0;
  width:100%;
  height: 100%;
  text-align: center;

  Image {
    width:100%;
  }
}

.gif-area {
  width:100%;
  height: 100%;
  text-align: center;
  top:100;
  left:0;
}

.slide-1 {
  .gif-area {
    top:120;
  }
}

.slide-2 {
  .gif-area {
    top:45;
  }
}

.slide-3 {
  .gif-area {
    top:110;
  }
}

.slide-4 {
  .gif-area {
    top:92;
  }
}

.text-area {
  width:100%;
  text-align: center;
  height: 200;
  padding:40;
  background-color: $lightpurple;
  .text-label {
    color:#fff;
    font-size:26;
  }
}

.number-area {
  width: 100%;
  top:20;
  left:0;
  text-align: center;
  horizontal-align:center;
}

.number {
  font-size:50;
  font-weight: bold;
  border-radius: 47;
  background-color:#000;
  width:100;
  height:100;
  top: 20;
  color:#fff;
  text-align: center;
  horizontal-align:center;
}

