<!--<ActionBar title="Welcome"> 
  <NavigationButton visibility="collapsed"></NavigationButton>
  <ActionItem ios.position="right" android.position="popup" (tap)="close()">
    <Button text="Got It"></Button>
  </ActionItem>
</ActionBar>-->

<ActionBarExtension>
  <NavigationButton visibility="collapsed"></NavigationButton>
  <ActionItem ios.position="right" android.position="popup" (tap)="close()">
    <Button text="Got It"></Button>
  </ActionItem>
</ActionBarExtension>
<StackLayout class="full-page">
    <SlideContainer angular="true" #slides pageIndicators="true" (changed)="slideChange($event)">
        <Slide class="slides">
            <GridLayout class="first-welcome" rows="25,auto,200,auto,*" cols="*">
                <Label text="Create a personal dedication using your favorite music." textWrap="true" class="text-label centered" col="0" row="1"></Label>
                <Image src="~/components/intro/img/logo.png" col="0" row="2" class="logo-img"></Image>
                <Label #swipelabel text="Slide to learn more." textWrap="true" class="text-label centered bigger bright" col="0" row="3"></Label>
            </GridLayout>       
        </Slide>

        <Slide class="slides slide-1">
            <AbsoluteLayout class="msg-area">
                <StackLayout class="gif-area">
                    <Gif [src]="gifs[0]" height="471" #step1></Gif>
                </StackLayout>
                <StackLayout class="mask-cover">
                    <Image [src]="maskCover" stretch="aspectFill"></Image>
                </StackLayout>
                <StackLayout class="number-area">
                    <Label text="1" class="number"></Label>     
                </StackLayout>
                <StackLayout class="text-area" [top]="textTop">
                    <Label text="Search for music to add to a playlist." textWrap="true" class="text-label"></Label>
                </StackLayout>       
            </AbsoluteLayout>
        </Slide>
        <Slide class="slides slide-2" #slide2>
            <AbsoluteLayout class="msg-area">
                <StackLayout class="gif-area">
                    <Gif [src]="gifs[1]" height="471" #step2></Gif>
                </StackLayout>
                <StackLayout class="mask-cover">
                    <Image [src]="maskCover" stretch="aspectFill"></Image>
                </StackLayout>
                <StackLayout class="number-area">
                    <Label text="2" class="number"></Label>
                </StackLayout>
                <StackLayout class="text-area" [top]="textTop">
                    <Label text="Use plus button to add your track." textWrap="true" class="text-label"></Label>
                </StackLayout> 
            </AbsoluteLayout>
        </Slide>
        <Slide class="slides slide-3">
            <AbsoluteLayout class="msg-area">              
                <StackLayout class="gif-area">
                    <Gif [src]="gifs[2]" height="471" #step3></Gif>
                </StackLayout>
                <StackLayout class="mask-cover">
                    <Image [src]="maskCover" stretch="aspectFill"></Image>
                </StackLayout>
                <StackLayout class="number-area">
                    <Label text="3" class="number"></Label>
                </StackLayout>
                <StackLayout class="text-area" [top]="textTop">
                    <Label text="Record a ShoutOut, then add to a track." textWrap="true" class="text-label"></Label>
                </StackLayout> 
            </AbsoluteLayout>
        </Slide>
        <Slide class="slides slide-4">
            <AbsoluteLayout class="msg-area">              
                <StackLayout class="gif-area">
                    <Gif [src]="gifs[3]" height="350" #step4></Gif>
                </StackLayout>
                <StackLayout class="mask-cover">
                    <Image [src]="maskCover" stretch="aspectFill"></Image>
                </StackLayout>
                <StackLayout class="number-area">
                    <Label text="4" class="number"></Label>
                </StackLayout>
                <StackLayout class="text-area" [top]="textTop">
                    <Label text="Have Fun!" textWrap="true" class="text-label"></Label>
                </StackLayout> 
            </AbsoluteLayout>
        </Slide>
    </SlideContainer>
<StackLayout>