<StackLayout class="full-page settings-list">
  <GridLayout rows="auto" columns="*,auto" width="100%">
      <Label text="Logged in:" textWrap="true" class="medium-heading" row="0" col="0"></Label>
      <Button text="Logout" (tap)="logout()" class="settings-btn" textAlign="right" row="0" col="1"></Button>
  </GridLayout>  
  <Label [text]="displayName$ | async" textWrap="true" class="large-heading"></Label>
  <Label [text]="emailAddress$ | async" textWrap="true" class="small-heading"></Label>
  <StackLayout class="divider divider-margin"></StackLayout>
  <Label text="ShoutOut start time:" textWrap="true" class="medium-heading"></Label>
  <Label text="The time each ShoutOut will play over the top of each track." textWrap="true" class="small-heading"></Label>
  <StackLayout padding="5 10 5 10">
    <Slider #slider minValue="0" maxValue="60" [(ngModel)]="shoutoutTime" ></Slider>  
    <Label [text]="shoutoutTime$ | async" textWrap="true" class="small-heading"></Label>
     
  </StackLayout>
  
</StackLayout>