.android-action-bar {
  margin:0;
  padding:0;
  vertical-align: center;

  .android-btn {
    text-align: left;
  }
  .microphone-btn {
    text-align: right;
    margin-right:10;
  }
}

SearchBar {
  padding:0;
  background-color: $action-bar-match;
  color:#fff;
}

.side-drawer {
  .side-item {
    .side-icon,
    .side-label {
      vertical-align: center;
    }
  }
}

.full-page-icon-label {
  font-size:140;
  opacity:1;
}

.player-full {
  .full-close {
    width:50;
  }
}

.play-btn {
  margin:0 2 0 2;

  &.track-plain {
    margin: 0 2 0 5;
    width:50;
  }
}

.play-btn-img {
  margin:0 5 0 5;
  width:46;
  height:46;
  background-color:transparent;
  border-radius:0;
  padding:0;
}

.add-btn {
  margin-right: 2;
}

.number {
  border-radius: 48;
  height:100;
  padding-top:10;
}

.android-eq {
  top:0;
  left:0;
  width:100%;
  height:200;
}

.equalizer {
  width:40;
  padding: 0 5 0 5;
  background-color:$bright;
  vertical-align: bottom;

  &.faded {
    background-color:darken($bright, 20%);
  }
  &.faded2 {
    background-color:darken($bright, 30%);
  }
}

.big-record-btn {
  font-size:180;

  &.android-big {
    font-size:140;
  }
}

.big-save-bg {
  font-size:180;

  &.android-big {
    font-size:140;
  }
}

.save-area {
  background-color:$bright;
}

.switch {
	color: $secondary;
	background-color: $secondary;
	&[checked=true] {
		color: $bright;
	}
}

.modal-action-bar {
  padding: 2 4 2 4;

  .modal-title {
    vertical-align: center;
    // text-align:right;
    // padding-right:20;

    &.centered {
      text-align: center;
      padding-right:10;
    }
  }
}