SearchBar {
  padding:0;
  background-color: $action-bar-match;
  color:#fff;
}

.side-drawer {
  .side-item {
    .side-icon,
    .side-label {
      vertical-align: center;
    }
  }
}

.player-full {
  .full-close {
    width:50;
  }
}

.number {
  border-radius: 48;
  height:100;
  padding-top:10;
}