ActionBar {
  background-color: $primary;
  color:white;
}

// .action-image {
//   padding:5;
// }

ScrollView {
  background-color:$base;
}

.page-bg {
  background-color: $base;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

SearchBar {
  padding:40;
  background-color: $action-bar-match;
  color:$action-bar-match;
  border-width:0;
}

.logo-text {
  color:#fff;
}

.white-label {
  font-size:12;
  margin:5;
  color:#fff;
  width:100%;
  text-align: center;

  &.header {
    margin:10;
    font-size:14;
  }
  &.mention {
    color:rgba(255,255,255, .6);
  }
}

.fa {
  font-family: FontAwesome, fontawesome-webfont;
  font-size:20;
}

.side-drawer {
  background-color: $base;
  width:100%;
  height:100%;
  // .side-primary {
  //   width:100%;
  // }
  .side-item {
    padding:6;
    width:100%;
    // background-color:$complimentary;
    color:#fff;

    // THIS DOESN'T WORK... WHY??
    // &.active {
    //   background-color:$primary;
    //   color:#fff;
    // }

    .fa {
      color:$highlight;
      width:50;
      text-align: center;
    }

    &.active {
      background-color:rgba($primary, .4);
      color:#fff;
    }
  }
  .side-bottom {

    .side-item {
      // background-color:$base;
      color: rgba($highlight, .6);

      .fa {
        color:rgba($highlight, .5);
      }
    }
  }
}

.full-page-message {
  width:100%;
  height:100%;
  padding-top:80;
  horizontal-align: center;
  vertical-align: top;
  background-color: $action-bar-match;
}
.full-page-icon-label,
.full-page-message-label {
  color:#fff;
  text-align: center;
  padding:10;
}
.full-page-message-label {
  font-style: italic;
  font-size:40;
}
.full-page-icon-label {
  font-size:160;
  opacity:.2;
}

.instruction {
  font-size:16;
  font-style: italic;
  width: 100%;
  text-align: center;
  color:rgba(#fff, .4);
  margin:8;

  &.padding {
    padding:20;
  }
}

.blank-page {
  background-color: #000;
  width:100%;
  height:100%;
}

.big-heading {
  font-size:25;
  color:#fff;
  background-color:#000;
  padding:20;
}

.large-heading {
  font-size:30;
  color:#fff;
  padding:10 10 10 10;
}

.medium-heading {
  font-size:20;
  color:rgba(#fff, .7);
  padding:5 10 5 10;
}

.small-heading {
  font-size:15;
  color:rgba(#fff, .5);
  padding:5 10 5 10;
}

.inline-notice {
  padding:10;
  color:#fff;
  font-style: italic;
  background-color: #000;
}

.heading-1 {
  margin-top:15;
}

.login-btn {
  margin:20 0 20 0;
  width:75%;
}

.list-item,
.list-item-swipe {
  width:100%;
  vertical-align: center;
}
.list-item {
  padding:20 0 20 0;
}
.result-item {
  padding:10 0 10 0;
}

.title {
  color:#fff;
  font-size:18;
  font-weight: bold;
}

.title-sub {
  font-size:14;
  color:$highlight;
}

.actions {
  width: 100%;
}

.divider {
  height: 1;
  background-color:rgba(darkgray, .5);
  width:100%;
}
.divider2 {
  margin-top:19;
}
.divider-margin {
  margin:10;
}

.row-center {
  height:100%;
  vertical-align:center;
}

.shoutout-mic {
  color:rgba($bright, .2);
  padding-right:25;

  &.active {
    color: $bright;
  }
}

.btn {
  text-align: center;
  color:#fff;
}

.play-btn {
  font-size: 30;
  color:#fff;
  margin:0 5 0 5;

  &.track-plain {
    margin: 0 20 0 12;
  }
}
.play-btn-img {
  margin:0 5 0 5;
  width:46;
  height:46;
  background-color:$primary;
  border-radius:23;
  padding:30;
}

.delete-btn {
  background-color:$red;
  height: 100%;

  // &.wide {
  //   text-align: center;
  //   margin:15;
  //   font-size:20;
  //   width:100%;
  //   color:#fff;
  // }
}
.delete-btn-wide {
  background-color:darken($red, 15%);
  text-align: center;
    margin:65 15 0 15;
    padding:10;
    font-size:20;
    color:#fff;
    width:80%;
    horizontal-align:center;
}
.delete-confirmed {
  background-color:lighten($red, 15%);
}

.edit-btn {
  background-color:#528100;
  height: 100%;
}

.drag-btn {
  background-color:darkgray;
}

.add-btn {
  font-size:30;
  color:$highlight;
  margin-right: 5;
}

.detail-btn {
  font-size:30;
  color:$primary;
  margin-right:5;
}

.full-page {
  height: 100%;
  background-color:$base;
  // padding-bottom:50;
}
.logged-out {
  height: 100%;
  background-color:$action-bar-match;
}

/* Player controls */
.player-controls {
  width:100%;
  height: 51;
  background-color:$action-bar-match;
  vertical-align:bottom;

  .title {
    color:#fff;
    font-size:16;
    font-weight: normal;
    text-align: center;
    width:100%;
  }

  .title-sub {
    font-size:13;
    color:$base;
    text-align: center;
    width:100%;
  }

  .options-btn {
    color: #fff;
  }
}
.player-full {
  width:100%;
  height:100%;
  background-color:$primary;

  .track-name {
    font-size: 25;
    color:#fff;
    text-align: center;
    width:100%;
  }
  .artist-name {
    font-size: 20;
    color: $base;
    text-align: center;

    &.right {
      text-align: right;
    }
    &.left {
      text-align: left;
    }
  }

  .options-btn {
    color:#fff;
    font-size:20;
  }

  .full-close {
    font-size:25;
    color:#fff;
  }
  .album-area {
    width:100%;
    height:100%;
    min-height:400;
    background-color:#000;
  }
  
  .album-img {
    width:100%;
    height:100%;
    min-height:400;
    text-align:center;

  }
  .play-area {
    vertical-align: center;
    height:100;
    
    .shuttle-btn {
      font-size:25;
      color:#efefef;
    }

    .play-btn {
      font-size:60;
      color:#fff;
      margin:0 10 0 10;
    }
  }
}


.settings-list {
  padding:20;
}
.settings-bottom {
  background-color:$primary;
  height: 100%;
}
.settings-btn {
  margin:10 0 10 0;
  color:$highlight;

  &.bigger {
    font-size:28;
  }
}
.theme-page {
  background-color:$base;
  padding-bottom: 50;
}
.theme-area {
  padding:1;
  
  &.active {
    background-color:$bright;
  }
  .theme-img-label {
    margin:0 0 10 0;
  }
}

.slider {
  background-color:$primary;
  color:$bright;
}
.switch {
  background-color:$primary;
  color:$bright;
}

ListView {
  height: 100%;
  background-color:$base;
}

.odd {
  background-color: $base;
}

.even {
  background-color: $complimentary;
}

.odd.playing,
.even.playing {
  background-color: $primary;

  .title-sub {
    color: $base;
  }  

  .detail-btn {
    color: $base;
  }
}

.search {
  background-color: #BABAC1;
  padding:5;
}

.record-view {
  background-color:#000;
}

.microphone-btn {
  color:$bright;
}

.modal-title {
  font-weight: bold;
  text-align:center;
}

.modal-blank-label {
  color:$primary;
  width:50;
}

.modal-action-bar {
  width:100%;
  padding: 10 15 10 15;
  background-color:$primary;

  .cancel-btn {
    color:#fff;
  }
  .modal-label {
    color:#fff;
    width:100%;
  }
}

.modal-list {
  .list-item {
    padding:10 15 10 15;
  }
}

/* Intro */
$lightpurple: #7C3FE8;

.slides {
  width:100%;
  height: 100%;
  background-color: $lightpurple;
}

.msg-area {
  width: 100%;
  height: 100%;
}

.mask-cover {
  top:0;
  left:0;
  width:100%;
  height: 100%;
  text-align: center;

  Image {
    width:100%;
  }
}

.first-welcome {
  width:100%;
  height:100%;
  padding:30;

  .logo-img {
    margin: 30 0 30 0;
  }

  .text-label {
    color:#fff;
    font-size:25;

    &.bigger {
      font-size:28;
      &.bright {
        color: $bright;
      }
    }

    &.centered {
      text-align:center;
    }
  }
}

.gif-area {
  width:100%;
  height: 100%;
  text-align: center;
  left:0;
}

.slide-2 {
  .gif-area {
    top:45;
  }
}

.slide-4 {
  .gif-area {
    top:92;
  }
}

.text-area {
  width:100%;
  text-align: center;
  height: 200;
  padding:40;
  background-color: $lightpurple;
  .text-label {
    color:#fff;
    font-size:26;
  }
}

.number-area {
  width: 100%;
  top:20;
  left:0;
  text-align: center;
  horizontal-align:center;
}

.number {
  font-size:50;
  font-weight: bold;
  border-radius: 47;
  background-color:#000;
  width:100;
  height:100;
  top: 20;
  color:#fff;
  text-align: center;
  horizontal-align:center;
}

/* Record */
.record-view {
  background-color: $base;
  width:100%;
  height:100%;
}

.audioPlot {
  width:100%;
  height:75%;
  background-color: $base;
  top:0;
  left:0;
}

.big-record-btn,
.record-btn,
.ready-record-label {
  color: #E42338;
}

.ready-record-label {
  font-size:60;
  text-align:left;
  font-weight: bold;
  opacity:0;
}

.big-record-btn {
  font-size:200;
  opacity:0;
}

.recordTime {
  horizontal-align: center;
  font-size:18;
  color:#fff;
  top:90;
  left:0;
  width:100%;
}

.big-save-bg {
  color: $bright;
  font-size:550;
  opacity:0;
}
.play-controls {
  width:100%;
  horizontal-align:center;
  opacity:0;

  .play-btns {
    horizontal-align:center;
    width:60%;
  }
  .rewind-btn {
    color:#fff;
    text-align: right;
    font-size:50;
    padding:0 20 0 20;
    width: 35%;
  }
  .play-btn {
    color:#fff;
    text-align: right;
    font-size:130;
    width:65%;
  }
  .play-btn-txt {
    color:#fff;
    text-align: left;
    font-size:40;
    width:40%;
    padding:0 0 0 10;
    vertical-align: center;
  }
  // &.smaller {
  //   .play-btns {
  //     width:60%;
  //   }
  //   .rewind-btn {
  //     font-size:30;
  //     width:40%;
  //   }
  //   .play-btn {
  //     font-size:100;
  //     width:60%;
  //   }
  //   .play-btn-text {
  //     font-size:25;
  //     width:40%;
  //   }
  // }
}
.play-controls-smaller {
  .play-btns {
    width:60%;
  }
  .rewind-btn {
    font-size:30;
    width:40%;
  }
  .play-btn {
    font-size:100;
    width:60%;
  }
  .play-btn-text {
    font-size:20;
    width:40%;
  }
}

.save-area {
  width:100%;
  horizontal-align:center;
  opacity:0;

  .save-btn {
    color:#000;
    text-align: right;
    font-size:30;
    // width:55%;
    padding:0 10 0 0;
  }
  .save-btn-txt {
    color:#000;
    text-align: left;
    font-size:25;
    // width:45%;
    padding:0 20 0 5;
  }
  // &.smaller {
  //   .save-btn {
  //       width:50%;
  //     }
  //     .save-btn-txt {
  //       width:50%;
  //       font-size:20;
  //     }
  // }
}
.save-area-smaller {
  .save-btn {
      width:50%;
    }
    .save-btn-txt {
      width:50%;
      font-size:20;
    }
}
.pad-bottom {
  padding-bottom: 51;
}