<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>275512021485-1fepk6n0uj0n9cfebpupadhu5hsm1p4k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275512021485-1fepk6n0uj0n9cfebpupadhu5hsm1p4k</string>
	<key>API_KEY</key>
	<string>AIzaSyAZO7FPyuYB-NpkXQp3J3C7-bXb8gquhOs</string>
	<key>GCM_SENDER_ID</key>
	<string>275512021485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wwwalkerrun.ShoutOutPlay</string>
	<key>PROJECT_ID</key>
	<string>shoutoutplay</string>
	<key>STORAGE_BUCKET</key>
	<string>shoutoutplay.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:275512021485:ios:00dc8dc35e226cbf</string>
	<key>DATABASE_URL</key>
	<string>https://shoutoutplay.firebaseio.com</string>
</dict>
</plist>