$base: #333;
$complimentary: #444444;
$primary: #efefef;
$secondary: #555;
$highlight: #999;
$bright:#FFD110;
$red: #BC1224;
$yellow: #FFD110;
$action-bar-match:#444;
$dark: #222;
$bright-alt:#FF9505;