ActionBar {
  background-color: #000;
  color:white;
}

SearchBar {
  padding:5;
}

.logo-text {
  color:#4EFF0B;
}

.fa {
  font-family: FontAwesome, fontawesome-webfont;
  font-size:20;
}

.instruction {
  font-size:16;
  font-style: italic;
  horizontal-align:center;
  color:#555;
  margin:8;
}

.heading-1 {
  margin-top:15;
}

.login-btn {
  margin:20 0 20 0;
  width:75%;
}

.list-item {
  padding:5;
}

.title {
  color:#444;
  font-size:18;
  font-weight: bold;
}

.title-sub {
  font-size:14;
  color:#777;
}

.play-btn {
  font-size: 30;
  color:#000;
  margin-right:5;
}

.add-btn {
  font-size:30;
}

.detail-btn {
  font-size:30;
  color:#333;
}

.record-btn {
  color: #E42338;
}

.full-page {
  height: 100%;
}

ListView {
  height: 100%;
}

.odd {
  background-color: #efefef;
}

.even {
  background-color: #fff;
}

.odd.playing,
.even.playing {
  background-color: #87C2FF;
}

.search {
  background-color: #BABAC1;
  padding:5;
}

.record-view {
  background-color:#000;
}
