<ActionBar title="ShoutOutPlay">
  <!--<android>
    <NavigationButton class="fa" [text]="'fa-bars' | fonticonPure" (tap)="drawerService.toggle()"></NavigationButton>
    <NavigationButton text="ios text" android.systemIcon="ic_menu_back" (tap)="drawerService.toggle()" *ngIf="(authService.state$ | async)?.loggedIn"></NavigationButton>
  </android>-->
  <!--<StackLayout orientation="horizontal" horizontalAlignment="center" verticalAlignment="center" padding="5">
    <android>
      <Image src="res://logo" class="action-image"></Image>
    </android>
    <ios>
      <Image src="res://logo-160.png" class="action-image"></Image>
    </ios>
  </StackLayout>-->
  <GridLayout cols="auto,*,auto" rows="*" horizontalAlignment="center" verticalAlignment="center" padding="5">
    <android>
      <Button class="fa" [text]="'fa-bars' | fonticonPure" row="0" col="0" (tap)="drawerService.toggle()"></Button>
      <Image src="res://logo" class="action-image" row="0" col="1"></Image>
    </android>
    <ios>
      <Image src="res://logo-160.png" class="action-image" row="0" col="1"></Image>
    </ios>
  </GridLayout>

  <ios>
    <ActionItem (tap)="drawerService.toggle()" *ngIf="(authService.state$ | async)?.loggedIn">
      <Button class="fa" [text]="'fa-bars' | fonticonPure"></Button>
    </ActionItem>
  </ios>
  <ActionItem nsRouterLink="/record" ios.position="right" android.position="popup" *ngIf="(authService.state$ | async)?.loggedIn">
    <Button class="fa action-btn microphone-btn" [text]="'fa-microphone' | fonticonPure"></Button>
  </ActionItem>
</ActionBar>

<page-router-outlet class="page-bg"></page-router-outlet>

<!--<RadSideDrawer #drawer [transition]="sideDrawerTransition" selectionBehavior="None" top="0" left="0" width="100%" height="100%">
  <template drawerSide>
    <GridLayout class="side-drawer" rows="auto, *, auto" columns="*">
      <StackLayout class="side-primary" row="0" col="0">
        <GridLayout columns="auto, *" rows="60" class="side-item" [ngClass]="{'item-active': activeRoute.search}" (tap)="navItem('')">
          <Label text="&#xf002;" class="fa" row="0" col="0"></Label>
          <Label text="Search" row="0" col="1"></Label>
        </GridLayout>
        <GridLayout columns="auto, *" rows="60" class="side-item" [ngClass]="{'item-active': activeRoute.playlist}" (tap)="navItem('playlist')">
          <Label [text]="'fa-list' | fonticon" class="fa" row="0" col="0"></Label>
          <Label text="Playlists" row="0" col="1"></Label>
        </GridLayout>
        <GridLayout columns="auto, *" rows="60" class="side-item" [ngClass]="{'item-active': activeRoute.shoutout}" (tap)="navItem('shoutout')">
          <Label [text]="'fa-microphone' | fonticon" class="fa" row="0" col="0"></Label>
          <Label text="ShoutOuts" row="0" col="1"></Label>
        </GridLayout>
      </StackLayout>
      <StackLayout class="side-bottom" row="2" col="0">
        <GridLayout columns="auto, *" rows="60" class="side-item" [ngClass]="{'item-active': activeRoute.theme}" (tap)="navItem('theme')">
            <Label [text]="'fa-paint-brush' | fonticon" class="fa" row="0" col="0"></Label> 
            <Label text="Color Themes" row="0" col="1"></Label>  
          </GridLayout>
        <GridLayout columns="auto, *" rows="60" class="side-item" [ngClass]="{'item-active': activeRoute.general}" (tap)="navItem('general')">
          <Label [text]="'fa-cog' | fonticon" class="fa" row="0" col="0"></Label>
          <Label text="Settings" row="0" col="1"></Label>
        </GridLayout>
        <GridLayout columns="auto, *" rows="60" class="side-item" [ngClass]="{'item-active': activeRoute.help}" (tap)="navItem('help')">
          <Label [text]="'fa-question-circle' | fonticon" class="fa" row="0" col="0"></Label>
          <Label text="Help" row="0" col="1"></Label>
        </GridLayout>
        <GridLayout columns="auto, *" rows="60" class="side-item" [ngClass]="{'item-active': activeRoute.about}" (tap)="navItem('about')">
          <Label [text]="'fa-info-circle' | fonticon" class="fa" row="0" col="0"></Label>
          <Label text="About ShoutOutPlay" row="0" col="1"></Label>
        </GridLayout>
      </StackLayout>
    </GridLayout>
  </template>
  <template drawerMain>

    <page-router-outlet class="page-bg"></page-router-outlet>
  </template>
</RadSideDrawer>-->

    <!--<main-view></main-view>-->