<ActionBar title="Record"> 
  <NavigationButton text="Back" android.systemIcon="ic_menu_back" (tap)="androidBack()" class="action-btn"></NavigationButton>
  <ActionItem (tap)="toggleRecord()" ios.position="right" android.position="popup"><!--*ngIf="showRecord"-->
    <Button class="fa record-btn" [text]="(recordBtn$ | async) | fonticonPure"></Button>
  </ActionItem>
</ActionBar>

<!--<ActionBarExtension>
  <NavigationButton text="Back" android.systemIcon="ic_menu_back" class="action-btn"></NavigationButton>
  <ActionItem (tap)="toggleRecord()" ios.position="right" android.position="popup" *ngIf="showRecord">
    <Button class="fa record-btn" [text]="(recordBtn$ | async) | fonticonPure"></Button>
  </ActionItem>
</ActionBarExtension>-->

<AbsoluteLayout modal-dialog-host class="record-view">
  <!--<ios>-->
    <AudioPlot #audioplot class="audioPlot" [plotColor]="audioPlotColor" plotType="buffer"></AudioPlot>
  <!--</ios>-->
  <!--<android>-->
    <!--<GridLayout rows="200" columns="*,50,50,50,50,50,*" class="android-eq">
        <StackLayout class="equalizer faded2" row="0" col="1" [attr.height]="androidEQSide2$ | async"></StackLayout>
        <StackLayout class="equalizer faded" row="0" col="2" [attr.height]="androidEQSide$ | async"></StackLayout>
        <StackLayout class="equalizer" row="0" col="3" [attr.height]="androidEQ$ | async"></StackLayout>
        <StackLayout class="equalizer faded" row="0" col="4" [attr.height]="androidEQSide$ | async"></StackLayout>
        <StackLayout class="equalizer faded2" row="0" col="5" [attr.height]="androidEQSide2$ | async"></StackLayout>
    </GridLayout>-->
  <!--</android>-->

  <Button #bigSaveBg [text]="'fa-circle' | fonticonPure" class="fa big-save-bg" (tap)="saveToTrack()" [ngClass]="{'android-big':isAndroidBig}"></Button>
  <GridLayout #playbackArea rows="auto" columns="*,*" class="play-controls" [ngClass]="{'play-controls-smaller': isSmallerScreen}">
    <StackLayout class="play-btns" orientation="horizontal" row="0" col="0">
       <Button [text]="'fa-step-backward' | fonticonPure" class="fa rewind-btn" (tap)="rewind()" row="0" col="0"></Button> 
       <Button [text]="(playBtn$ | async) | fonticonPure" class="fa play-btn" (tap)="togglePlay()" row="0" col="1"></Button>   
    </StackLayout>
    <Button [text]="playBtnTxt" class="play-btn-txt" (tap)="togglePlay()" row="0" col="1"></Button>  
  </GridLayout>
    
  <StackLayout #addToTrackArea orientation="horizontal" class="save-area" [ngClass]="{'save-area-smaller': isSmallerScreen}">
    <Button [text]="'fa-check' | fonticon" class="fa save-btn" (tap)="saveToTrack()" [width]="saveBtnWidth"></Button>   
    <Button [text]="saveTxt" class="save-btn-txt" (tap)="saveToTrack()" [width]="saveBtnTxtWidth"></Button>   
  </StackLayout>

  <Button #bigRecordBtn [text]="(recordBtn$ | async) | fonticonPure" (tap)="toggleRecord()" class="fa big-record-btn" [ngClass]="{'android-big':isAndroidBig}"></Button>
  <Label #readyRecordLabel text="READY TO RECORD" textWrap="true" class="ready-record-label"></Label>
  
  
</AbsoluteLayout>