<ActionBar title="Playlists">
  <NavigationButton text="Back" android.systemIcon="ic_menu_back" class="action-btn"></NavigationButton>
  <ActionItem (tap)="add()" ios.position="right" android.position="popup">
    <Button class="fa action-btn" [text]="'fa-plus' | fonticonPure"></Button>
  </ActionItem>
</ActionBar>
<StackLayout>
  <StackLayout class="full-page-message" *ngIf="(firebaseService.state$ | async)?.playlists.length==0">
    <Label [text]="'fa-frown-o' | fonticonPure" textWrap="true" class="fa full-page-icon-label"></Label>
    <Label text="There are no playlists yet." textWrap="true" class="full-page-message-label"></Label>
  </StackLayout>

  <RadListView id="listview" [items]="(firebaseService.state$ | async)?.playlists" (itemTap)="viewDetail($event)" row="1" colSpan="2" class="full-page"
  itemSwipe="true" itemReorder="false"
  (itemReordered)="onItemReordered($event)"
  (itemSwipeProgressStarted)="onSwipeCellStarted($event)"
  (itemSwipeProgressEnded)="onSwipeCellFinished($event)" 
  itemInsertAnimation="Scale" itemDeleteAnimation="Scale"
  *ngIf="(firebaseService.state$ | async)?.playlists.length">
    <template listItemTemplate let-item="item" let-odd="odd" let-even="even">
      <GridLayout columns="auto, *, auto" rows="auto" [class.odd]="odd" [class.even]="even" [class.playing]="item.playing" class="list-item">
        <Button row="0" col="0" [text]="(item.playing ? 'fa-pause-circle' : 'fa-play-circle') | fonticon" class="play-btn fa" (tap)="playlistService.togglePlay(item.id)"></Button>
        <StackLayout row="0" col="1" class="row-center">
          <Label [text]="item.name" textWrap="true" class="title"></Label> 
          <Label [text]="item.tracks.length + ' Tracks'" textWrap="true" class="title-sub"></Label> 
        </StackLayout>
        <Button row="0" col="2" [text]="'fa-chevron-right' | fonticonPure" class="detail-btn fa"></Button>
        <!--<StackLayout class="divider divider2" row="1" colSpan="3"></StackLayout>-->
      </GridLayout>
    </template>
    <GridLayout *listItemSwipeTemplate rows="auto" columns="100,*,100" class="list-item-swipe">
      <Button id="editBtn" text="Edit" class="btn edit-btn" row="0" col="0" (tap)="edit($event)"></Button>
      <Button id="deleteBtn" text="Delete" class="btn delete-btn" row="0" col="2" (tap)="remove($event)"></Button>
      <!--<StackLayout class="divider" row="1" colSpan="3"></StackLayout>-->
    </GridLayout>
  </RadListView>
</StackLayout>