<ActionBar [title]="(firebaseService.state$ | async)?.playlists[playlistIndex].name" class="action-bar">
  <NavigationButton text="Playlists" android.systemIcon="ic_menu_back" class="action-item" (tap)="androidBack()"></NavigationButton>
  <ActionItem (tap)="editPlaylist()" ios.position="right" android.position="popup">
    <Button class="fa action-item" [text]="'fa-pencil' | fonticonPure"></Button>
  </ActionItem>
</ActionBar>
<StackLayout>  
  <EmptyView class="full-page-bar-match" *ngIf="(firebaseService.state$ | async)?.playlists[playlistIndex].tracks.length==0" [icon]="'fa-frown-o'" [text]="'There are no tracks here.'"></EmptyView>
  
  <RadListView id="listview" [items]="(firebaseService.state$ | async)?.playlists[playlistIndex].tracks" row="1" colSpan="2" class="full-page pad-bottom"
  itemSwipe="true" itemReorder="true"
  (itemReordered)="onItemReordered($event)"
  (itemSwipeProgressStarted)="onSwipeCellStarted($event)"
  (itemSwipeProgressEnded)="onSwipeCellFinished($event)"
  itemInsertAnimation="Scale" itemDeleteAnimation="Scale"
  *ngIf="(firebaseService.state$ | async)?.playlists[playlistIndex].tracks.length">
    <template tkListItemTemplate let-item="item" let-odd="odd" let-even="even">
      <GridLayout columns="auto, *, auto" rows="auto" [class.odd]="odd" [class.even]="even" [class.playing]="item.playing" class="list-item">
        <Button row="0" col="0" [text]="(item.playing ? 'fa-pause-circle' : 'fa-play-circle') | fonticon" class="play-btn fa track-plain" (tap)="togglePlay(item.playlistId, item)" *ngIf="!item.shoutoutId"></Button>
        <!--<ios>-->
          <!--<Image row="0" col="0" [src]="(item.playing ? 'res://logo-160-pause.png' : 'res://logo-160.png')" class="play-btn-img" (tap)="togglePlay(item.playlistId, item)" stretch="aspectFit" *ngIf="item.shoutoutId"></Image>-->
        <!--</ios>-->
        <!--<android>-->
          <Image row="0" col="0" [src]="(item.playing ? 'res://logo_pause' : 'res://logo')" class="play-btn-img" (tap)="togglePlay(item.playlistId, item)" *ngIf="item.shoutoutId"></Image>
        <!--</android>-->
        <StackLayout row="0" col="1" class="row-center">
          <Label [text]="item.name" textWrap="true" class="title"></Label> 
          <Label [text]="item.artist.name" textWrap="true" class="title-sub"></Label> 
        </StackLayout>
        <Button row="0" col="2" [text]="(item.shoutoutId ? 'fa-share-alt' : 'fa-microphone') | fonticon" class="shoutout-mic fa" (tap)="viewShoutout(item)" [ngClass]="{active: item.shoutoutId}"></Button><!-- 'fa-microphone' | fonticonPure   -->
      </GridLayout>
    </template>
    <GridLayout *tkListItemSwipeTemplate rows="auto" columns="100,*,100">
      <Button row="0" col="0" text="Edit" class="btn edit-btn" (tap)="edit($event)"></Button>
      <Button row="0" col="2" text="Delete" class="btn delete-btn" (tap)="remove($event)"></Button>
    </GridLayout>
  </RadListView>
</StackLayout>