<ActionBar [title]="(firebaseService.state$ | async)?.playlists[playlistIndex].name">
  <NavigationButton text="Playlists" android.systemIcon="ic_menu_back" class="action-btn"></NavigationButton>
  <ActionItem (tap)="edit()" ios.position="right" android.position="popup">
    <Button class="fa action-btn" [text]="'fa-pencil' | fonticonPure"></Button>
  </ActionItem>
</ActionBar>
<StackLayout modal-dialog-host>  
  <StackLayout class="full-page-message" *ngIf="(firebaseService.state$ | async)?.playlists[playlistIndex].tracks.length==0">
    <Label [text]="'fa-frown-o' | fonticonPure" class="fa full-page-icon-label"></Label>
    <Label text="There are no tracks here." textWrap="true" class="full-page-message-label"></Label>
  </StackLayout> 
  
  <RadListView id="listview" [items]="(firebaseService.state$ | async)?.playlists[playlistIndex].tracks" row="1" colSpan="2" class="full-page"
  itemSwipe="true" itemReorder="true"
  (itemReordered)="onItemReordered($event)"
  (itemSwipeProgressStarted)="onSwipeCellStarted($event)"
  (itemSwipeProgressEnded)="onSwipeCellFinished($event)"
  itemInsertAnimation="Scale" itemDeleteAnimation="Scale"
  *ngIf="(firebaseService.state$ | async)?.playlists[playlistIndex].tracks.length">
    <template listItemTemplate let-item="item" let-odd="odd" let-even="even">
      <GridLayout columns="auto, *, auto" rows="auto" [class.odd]="odd" [class.even]="even" [class.playing]="item.playing" class="list-item">
        <Button row="0" col="0" [text]="(item.playing ? 'fa-pause-circle' : 'fa-play-circle') | fonticon" class="play-btn fa" (tap)="playlistService.togglePlay(item.playlistId, item)" *ngIf="!item.shoutoutId"></Button>
        <Image row="0" col="0" [src]="(item.playing ? 'res://logo-160-pause.png' : 'res://logo-160.png')" class="play-btn-img" (tap)="playlistService.togglePlay(item.playlistId, item)" stretch="aspectFit" *ngIf="item.shoutoutId" marginRight="10"></Image>
        <StackLayout row="0" col="1" class="row-center">
          <Label [text]="item.name" textWrap="true" class="title"></Label> 
          <Label [text]="item.artist.name" textWrap="true" class="title-sub"></Label> 
        </StackLayout>
        <Button row="0" col="2" [text]="'fa-microphone' | fonticonPure" class="has-shoutout fa" (tap)="viewShoutout(item)" *ngIf="item.shoutoutId"></Button>
        <!--<StackLayout class="divider divider2" row="1" colSpan="3"></StackLayout>-->
      </GridLayout>
    </template>
    <GridLayout *listItemSwipeTemplate rows="auto" columns="*,100">
        <Button row="0" col="1" text="Delete" class="btn delete-btn" (tap)="remove($event)"></Button>
        <!--<StackLayout row="1" colSpan="2" class="divider"></StackLayout>-->
    </GridLayout>
  </RadListView>
</StackLayout>