<ScrollView orientation="vertical">
  <StackLayout>
    <GridLayout rows="auto" columns="auto,*,auto" class="modal-action-bar">
        <Button text="Cancel" (tap)="close(true)" row="0" col="0" class="cancel-btn"></Button>
        <Label text="Choices" textWrap="true" row="0" col="1" class="modal-label modal-title centered"></Label>
        <Button text="Save" (tap)="close(true)" row="0" col="2" class="cancel-btn"></Button>
    </GridLayout>
    
    <StackLayout class="full-page settings-list pad-bottom">
      <Label text="Choose all you would like..." textWrap="true" class="medium-heading"></Label>
      <StackLayout class="divider divider-margin"></StackLayout>
      <GridLayout rows="auto" columns="auto,*" verticalAlignment="center">
        <Switch name="switch1" [(ngModel)]="choices.apple" row="0" col="0" class="switch" [attr.checked]="choices.apple"></Switch>
        <Label text="Apple Music" textWrap="true" row="0" col="1" class="t-white" (tap)="choices.apple=!choices.apple;"></Label>
      </GridLayout>
      <GridLayout rows="auto" columns="auto,*" verticalAlignment="center">
        <Switch name="switch2" [(ngModel)]="choices.google" row="0" col="0" class="switch" [attr.checked]="choices.google"></Switch>
        <Label text="Google Play Music" textWrap="true" row="0" col="1" class="t-white" (tap)="choices.google=!choices.google;"></Label>
      </GridLayout>
      <GridLayout rows="auto" columns="auto,*" verticalAlignment="center">
        <Switch name="switch3" [(ngModel)]="choices.soundcloud" row="0" col="0" class="switch" [attr.checked]="choices.soundcloud"></Switch>
        <Label text="SoundCloud" textWrap="true" row="0" col="1" class="t-white" (tap)="choices.soundcloud=!choices.soundcloud;"></Label>
      </GridLayout>
      <GridLayout rows="auto" columns="auto,*" verticalAlignment="center">
        <Switch name="switch4" [(ngModel)]="choices.groove" row="0" col="0" class="switch" [attr.checked]="choices.groove"></Switch>
        <Label text="Groove" textWrap="true" row="0" col="1" class="t-white" (tap)="choices.groove=!choices.groove;"></Label>
      </GridLayout>
      <GridLayout rows="auto" columns="auto,*" verticalAlignment="center">
        <Switch name="switch5" [(ngModel)]="choices.pandora" row="0" col="0" class="switch" [attr.checked]="choices.pandora"></Switch>
        <Label text="Pandora" textWrap="true" row="0" col="1" class="t-white" (tap)="choices.pandora=!choices.pandora;"></Label>
      </GridLayout>
      <GridLayout rows="auto" columns="auto,*" verticalAlignment="center">
        <Switch name="switch6" [(ngModel)]="choices.amazon" row="0" col="0" class="switch" [attr.checked]="choices.amazon"></Switch>
        <Label text="Amazon Prime Music" textWrap="true" row="0" col="1" class="t-white" (tap)="choices.amazon=!choices.amazon;"></Label>
      </GridLayout>
      <GridLayout rows="auto" columns="auto,*" verticalAlignment="center">
        <Switch name="switch7" [(ngModel)]="choices.plug" row="0" col="0" class="switch" [attr.checked]="choices.plug"></Switch>
        <Label text="Plug.dj" textWrap="true" row="0" col="1" class="t-white" (tap)="choices.plug=!choices.plug;"></Label>
      </GridLayout>
    </StackLayout>
  </StackLayout>
</ScrollView>